<launch>
    <arg name="project" default="lio_sam" />

    <!-- Parameters -->
    <rosparam file="$(find lio_sam)/config/params.yaml" command="load"/>
    <param name="/lio_sam/continueMapping" value="false"/>
    <param name="/lio_sam/pubTf" value="true"/>

    <include file="$(find lio_sam)/launch/run_offline.launch" />
    <node pkg="$(arg project)" type="$(arg project)_mapOptmization" name="$(arg project)_mapOptmization" output="screen" respawn="true"/>

    <node pkg="rosbag" type="play" name="player" output="screen" args="
    -r 1
    /media/marwan/external_drive/IROS/wednesday/parking_lot_repeat_stroll_0_2021-03-03-16-40-15.bag" />

    <include file="$(find segmenters_lib)/launch/demo.launch" />

    <node pkg="octomap_server" type="octomap_server_node" name="octomap_server" output="screen">
        <param name="resolution" value="0.15" />
        <param name="frame_id" type="string" value="map" />
        <param name="base_frame_id" type="string" value="base_link" />
        <param name="sensor_model/max_range" value="60.0" />
        <remap from="cloud_in" to="/cloud_nonground" />
    </node>

</launch>
