<launch>
    <arg name="project" default="lio_sam" />

    <!-- Parameters -->
    <rosparam file="$(find lio_sam)/config/params.yaml" command="load"/>
    <param name="/lio_sam/continueMapping" value="false"/>
    <param name="/lio_sam/pubTf" value="true"/>

    <include file="$(find lio_sam)/launch/run_offline.launch" />
    <node pkg="$(arg project)" type="$(arg project)_mapOptmization" name="$(arg project)_mapOptmization" output="screen" respawn="true"/>

    <node pkg="rosbag" type="play" name="player" output="screen" args="
    -r 1
    /media/marwan/external_drive/IROS/wednesday/parking_lot_repeat_stroll_0_2021-03-03-16-40-15.bag" />

</launch>
