<launch>
  <arg name="project" default="lio_sam" />
  <env name="ROSCONSOLE_CONFIG_FILE" value="$(find lio_sam)/custom_rosconsole.conf"/>
  <param name="/use_sim_time" value="false"/>

  <!-- Common Parameters -->
  <rosparam file="$(find lio_sam)/config/params.yaml" command="load"/>
  <param name="/lio_sam/continueMapping" value="true"/>
  <param name="/lio_sam/pubTf" value="true"/>

  <!-- Run LIO_SAM offline -->
  <include file="$(find lio_sam)/launch/run_offline.launch" />

  <!-- <node launch-prefix="xterm -e gdb -args" pkg="$(arg project)" type="$(arg project)_mapOptmization" name="$(arg project)_mapOptmization" output="screen" respawn="false"/> -->
  <node pkg="$(arg project)" type="$(arg project)_mapOptmization" name="$(arg project)_mapOptmization" output="screen" respawn="false"/>

  <!-- Publish sensors -->
  <node pkg="rosbag" type="play" name="player" args="
         /media/marwan/external_drive/IROS/wednesday/court_yard_wed_repeat_night_2021-03-03-19-07-18.bag
         --topic /os_cloud_node/points /encoder_odom /imu/data -r 1 -s 20"/>

  <!-- Run MCL -->
  <param name="/mcl/publish_tf" type="bool" value="false" />
  <param name="/mcl/init_x" type="double" value="38.0" />
  <param name="/mcl/init_y" type="double" value="13.0" />
  <param name="/mcl/init_yaw" type="double" value="3.14" />
  <param name="/mcl/trans_thresh" type="double" value="0.5" />
  <node pkg="mcl" type="mcl_node" name="mcl_node" output="screen">
    <!-- <remap from="/encoder_odom" to="/lio_sam/mapping/odometry"/> -->
  </node>

  <node pkg="octomap_server" type="octomap_server_node" name="octomap_server" output="screen">
    <param name="resolution" value="0.15" />
    <param name="frame_id" type="string" value="map" />
    <param name="base_frame_id" type="string" value="base_link" />
    <param name="sensor_model/max_range" value="50.0" />
    <param name="filter_ground" value="true" />
    <param name="ground_filter/distance" value="0.2" />
    <param name="ground_filter/angle" value="0.35" />
    <param name="ground_filter/plane_distance" value="0.5" />
    <remap from="cloud_in" to="/os_cloud_node/points" />
  </node>

</launch>
